{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Личный кабинет — преподаватель</h1>

<!-- Блок кнопок -->
<div class="d-flex flex-wrap gap-3 mb-4">

  <a href="{{ url_for('dashboard.instructor_profile') }}" 
     class="btn btn-outline-success px-4 py-2 rounded-3 shadow-sm">
     Профиль
  </a>

  <a href="{{ url_for('dashboard.instructor_courses') }}" 
     class="btn btn-outline-primary px-4 py-2 rounded-3 shadow-sm">
     Мои курсы
  </a>
  
  <a href="{{ url_for('dashboard.instructor_reports') }}" 
     class="btn btn-outline-dark px-4 py-2 rounded-3 shadow-sm">
     Мои отчёты
  </a>

  <a href="{{ url_for('dashboard.instructor_materials') }}" 
     class="btn btn-outline-secondary px-4 py-2 rounded-3 shadow-sm">
     Методические материалы
  </a>

  <a href="{{ url_for('dashboard.instructor_contacts') }}" 
     class="btn btn-outline-info px-4 py-2 rounded-3 shadow-sm">
     Обратная связь
  </a>

  <a href="{{ url_for('dashboard.instructor_schedule') }}" 
     class="btn btn-outline-warning px-4 py-2 rounded-3 shadow-sm">
     Расписание
  </a>

</div>

<!-- Информация -->
<div class="p-4 rounded-4 shadow-sm bg-light">
    <h4 class="mb-2">Быстрая статистика</h4>
    <p class="fs-5 mb-1">Количество моих курсов: <strong>{{ my_courses_count }}</strong></p>
</div>

{% endblock %}
