{% extends "admin/base.html" %}
{% block title %}Сообщения — админ{% endblock %}

{% block admin_content %}
  <h1>Сообщения с формы контактов</h1>

  <table class="table table-striped">
    <thead>
      <tr><th>#</th><th>Имя</th><th>Email</th><th>Тема</th><th>Дата</th><th></th></tr>
    </thead>
    <tbody>
      {% for c in pagination.items %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.subject or "-" }}</td>
        <td>{{ c.created_at.strftime("%d.%m.%Y %H:%M") }}</td>
        <td><a class="btn btn-sm btn-outline-primary" href="{{ url_for('admin.contact_detail', contact_id=c.id) }}">Открыть</a></td>
		<td>
			{% if not c.is_read %}
		<form method="post" action="{{ url_for('admin.mark_contact_read', contact_id=c.id) }}">
		{% if csrf_token is defined %}
		{{ csrf_token() }}
		{% endif %}
		<input type="hidden" name="next" value="{{ url_for('admin.contacts_list') }}">
		{% if not c.is_read %}
		<button class="btn btn-sm btn-outline-success">✓ Отметить как прочитанное</button>
		{% else %}
		<span class="badge bg-success">Прочитано</span>
		{% endif %}
		</form>
			{% else %}
				<span class="badge bg-success">Прочитано</span>
			{% endif %}

				<a class="btn btn-sm btn-outline-primary" href="{{ url_for('admin.contact_detail', contact_id=c.id) }}">Открыть</a>
		</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "pagination.html" %}
{% endblock %}
