<div class="list-group">
  <a href="{{ url_for('admin.dashboard') }}" class="list-group-item list-group-item-action">Dashboard</a>
  <a href="{{ url_for('admin.users_list') }}" class="list-group-item list-group-item-action">Пользователи</a>
  <a href="{{ url_for('admin.courses_list') }}" class="list-group-item list-group-item-action">Курсы</a>
  <a href="{{ url_for('admin.files_list') }}" class="list-group-item list-group-item-action">Файлы</a>
  <a href="{{ url_for('admin.reports_list') }}" class="list-group-item list-group-item-action">Отчёты</a>
  <a href="{{ url_for('admin.contacts_list') }}" class="list-group-item list-group-item-action">Обращения</a>
</div>
