{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h2 class="mb-4">FAQ</h2>
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="q1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a1">
          Как зарегистрироваться?
        </button>
      </h2>
      <div id="a1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Просто нажмите на вкладку <b>Вход</b> и заполните форму.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="q2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a2">
          Как записаться на курс?
        </button>
      </h2>
      <div id="a2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Перейдите во вкладку <b>Уроки</b> и выберите интересующий курс.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="q3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a3">
          Можно ли учиться бесплатно?
        </button>
      </h2>
      <div id="a3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Да, часть материалов доступна бесплатно. Подробности уточняйте у администратора.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
